%ol.help_list
  %li
    %a{ href:"#" }
      TeaCo, qu'est ce que c'est?
    %div
      TeaCo est un outil léger qui doit faciliter la recherche de rendez-vous de toutes sortes, d’un meeting jusqu'à la soirée de cinéma, aux petits et grands groupes de personnes. TeaCo est un système qui est basé sur l’ImiCaToo développé par l’IMIS, qui se caractérise en particulier par une meilleure utilité dans l’application.
      Avec TeaCo il est possible:
      %ul{ style:"list-style-type:circle; margin:17px;" }
        %li
          de créer des meetings et d’inviter des participants
        %li
          de créer des propositions de rendez-vous et de les faire voter
        %li
          de laisser des commentaires
  %li
    %a{ href:"#" }
      J'ai re&ccedil;u une invitation. Qu'est-ce qu'il me faut faire?
    %div
      Vous devriez voter si vous &ecirc;tes disponible aux temps propops&eacute;s.
      Le #{link_to 'Tutorialvideo' ,'#', class:"vote_tutorial"} vous montre comment.
  %li
    %a{ href:"#" }
      J'ai perdu mes donn&eacute;es de connexion!
    %div
      Pas de probl&egrave;me. Simplement entrez votre adresse e-mail sur la
      <a href="/" target="_blank">page accueil de TeaCo</a> et cliquez
      &laquo;Cr&eacute;er compte&raquo;. Vous recevrez un e-mail avez votre lien personnel
      &agrave; votre adresse; vos donn&eacute;es dans TeaCo seront
      conserv&eacute;es - il n'y aura pas de cr&eacute;e de nouveau compte.
  %li
    %a{ href:"#" }
      Je me suis registr&eacute; sur la page d'accueil, mais je n'ai pas re&ccedil;u de donn&eacute;es de connexion pas e-mail!
    %div
      Contr&ocirc;lez s.v.p., si le message &eacute;tait pos&eacute; dans votre dossier spam.
      En outre l'envoi de l'e-mail peut parfois durer quelques moments,
      donc il est possible, que le message n'arrive chez vous qu'apr&egrave;s
      une a deux minutes apr&egrave;s votre enregistrement.
  %li
    %a{ href:"#" }
      Qu'est-ce que c'est, un &laquo;meeting&raquo;?
    %div
      Un &laquo;meeting&raquo; dans TeaCo, c'est le plannung d'un seul R&eacute;union.
      Un meeting a un initateur et quelques participants, qui font des propositions
      de dates et en votent.
  %li
    %a{ href: "#" }
      C'est quoi, un &laquo;meeting restreint&raquo;?
    %div
      Pendant son cr&eacute;ation, l'initiateur d'un meeting a la possibilit&eacute;
      de choisir si les autres participants auront des droits restreints dans ce
      meeting. Dans un meeting restreint chaque participant ne peut modifier ou supprimer
      que ses propres propositions de dates. En outre il est r&eacute;serv&eacute; &agrave;
      l'initiateur de d&eacute;commander des participants, de marquer des dates finales
      ou de changer le titre.
  %li
    %a{ href:"#" }
      Je veut planner un meeting avec d'autres gens. Qu'est-ce qu'il me faut faire?
    %div
      Cliquez &laquo;Nouveau meeting&raquo; dans l'en-t&ecirc;te, entrez un titre et cliquez &laquo;OK&raquo;.
      Si vous initiez un meeting la premi&egrave;re fois, un
      #{link_to 'Tutorialvideo', '#', class: "new_meeting_tutorial" }
      vous explique le processus.
  %li
    %a{ href:"#" }
      Chacun a vot&eacute;. Et maintenant?
    %div
      Quand vous voulez terminer le planning, choisissez une ou plusieurs propositions
      de dates et marquez les comme finales par le cliquant et puis cliquant son
      #{image_tag "pick.png", width:"16", height:"16", alt:"pick" } bouton
      Vous pouvez entrer un texte de message pour la notification avec le dates
      que vous pouvez envoyer par e-mail aux participants par finalement cliquant
      le bouton &laquo;Envoyer donn&eacute;es de date!&raquo;.
  %li
    %a{ href:"#" }
      Je ne peux pas me d&eacute;commander moi-m&ecirc;me! Comment peux-je quitter un meeting?
    %div
      Cliquez &laquo;MyTeaCo&raquo; dans l'en-t&ecirc;te pour visit&eacute;r votre zone administrative.
      L&agrave;, vous trouvez une liste avec tous vos meetings. &Agrave; droite de
      chaque meeting il y a un lien pour le quitter ou le supprimer.
      Attention: Si vous &ecirc;tes l'initiateur du meeting vous le supprimer compl&egrave;tement
      en utilisant le lien, alors tous les autres participant n'auront plus acc&egrave;es &agrave;
      ce meeting!
  %li
    %a{ href: "#" }
      Qu'est-ce que &ccedil;a veut dire, &laquo;cloner&raquo;?
    %div
      Quand vous clonez un meeting, un nouveau meeting sera cr&eeacute; qui n'a
      pas encore des propositions de dates mais ou tous les participants du meeting
      originel sont d&eacute;j&agrave; invit&eacute;s. C'est utile, si vous plannez
      des meetings avec des m&ecirc;es gens souvent.
  %li
    %a{ href:"#" }
      J'ai plusieurs adresses e-mails. Je doit cr&eacute;er un nouveau compte pour chaqune?
    %div
      No, vous pouvez utiliser toutes vos adresse dans une compte. Pour faire &ccedil;a,
      cliquez &laquo;MyTeaCo&raquo; dans l'en-t&ecirc;te pour visit&eacute;r votre zone administrative.
      Sous &laquo;Adresses e-mails&raquo; vous pouvez entrer une nouveau adresse &agrave; activer.
      Apr&egrave;s, cliquez &laquo;Activer adresse&raquo; pour faire parvenir une e-mail d'activation
      &agrave; cette adresse. Cliquez le lien dans cet e-mail pour d&eacute;verrouiller cette adresse.
      Comme &ccedil;a, vous avez tous vos meeting dans un compte, n'importe avec quelle adresse vous
      &egrave;tiez invit&eacute;.
  %li
    %a{ href:"#" }
      Je veux changer l'adresse auquelle je re&ccedil;ois les notifications de TeaCo.
    %div
      D'abord il vous faut activer cette adresse (voir &laquo;J'ai plusieurs adresses e-mails.
      Je doit cr&eacute;er un nouveau compte pour chaqune?&raquo;). Maintenant, cliquez l'&eacute;toile bleue
      #{ image_tag "make_master_address.png", width:"16", height:"16", alt:"make_master_address" }
      &agrave; droite de l'adresse activ&eacute;e pour le faire votre adresse principale
      (reconnaissable &agrave; l'&eacute;toile jaune).
      #{ image_tag "master_address.png", width:"16", height:"16", alt:"make_master_address"}).
      Tous les notifications seront envoy&eacute;e &agrave; cette adresse d&egrave;s maintenant.
  %li
    %a{ href: "#" }
      Il dure tellement long de cr&eacute;er des propositions de dates!
    %div
      Il y a une autre possibilit&eacute:
      %ul{ style:"margin:10px" }
        %li
          %strong
            Cliquez doublement
          sur un jour dans le calendrier &a; droite,
          pour ajouter une proposition rapidement.
        %li
          %strong
            D&eacute;placez
          les propositions cr&eacute;es aux temps corrects
          par les cliquant et tirant avec le bouton de la souris surbaiss&eacute.
        %li
          %strong
            Modifier la dur&eacute;
          d'une proposition par tirant au bord
          sup&eacute;rieur ou inf&eacute;rieur.
      Comme &ccedil; il devient tr&egrave;s simple de cr&eacute;er les proposition pour un meeting:
      Cr&eacute;ez d'abord quelques propositions avec double-clic sur le jour correspondant
      et puis tirez les aux positions correctes.
  %li
    %a{ href:"#" }
      C'est quoi, une &laquo;liste Free/Busy&raquo;?
    %div
      Une liste Free/Busy est un fichier en format iCalendar qui peut &ecirc;tre produit par
      certains calendriers (p.ex. Apple iCal ou Microsoft Outlook).
      Cette fichier contient d'information sur vos temps occup&eacute;s.
      Si vous mettez en ligne ce fichier et donnez l'URL dans TeaCo ces temps
      seront affich&eacute;s dans les meetings comme blocs rouge.
      Cela montre aux autres participants que vous n'&ecirc;tes pas disponible &agrave; ces temps.
  %li
    %a{ href:"#" }
      Pourquoi est-ce qu'il ne me faut pas me connecter sur TeaCo?
    %div
      Chaque client de TeaCo a une cl&eacute; unique compos&eacute;e de 40 chiffres
      &minus; vous le voyez dans le barre d&apos;adresse. Cette cl&eacute; vous identifie
      dans TeaCo. Alors ne transferiez jamais cette cl&eacute; ou votre lien personnel de TeaCo!
      Comme &ccedil;a, autres gens auraient acc&egrave;s &agrave; tous vos meeting es donn&eacute;es.
  %li
    %a{ href:"#" }
      Comment gère TeaCo les differents fuseaux horaires?
    %div
      Un horaire inscrit dans TeaCo est toujours équivalent au temps valable du HEC
      (c'est-à-dire UTC+1 en hiver, UTC+2 en été). Ceci est toujours valable,
      indépendant du fuseau horaire dans lequel il a été inscrit et aussi indépendant
      des changements d’heure entre-temps, que ce soit le changement d’heure normale pour
      le temps d’été ou à l’envers.

:javascript
  $('.help_list').click(function(e) {
    e.stopPropagation();
  });