%ol.help_list
  %li
    %a{ href:"#" }
      What is TeaCo?
    %div
      TeaCo is a lightweight Tool, which helps little and even bigger groups with making appointments for any reason. Extending ImiCaToo, developed at the IMIS, TeaCo is a system, which stands out due to improved usability and lightweightness.\n
      With TeaCo you need neither a username nor a password for:
      %ul{ style:"list-style-type:circle; margin:17px;" }
        %li
          creating new meetings and inviting participants
        %li
          creating new suggestion and voting for it
        %li
          writing comments to any meeting
  %li
    %a{ href:"#" }
      I have been invited. What am I supposed to do?
    %div
      You should tell the other participants if you are available by voting
      on the suggested dates.
      The #{link_to 'Tutorialvideo' ,'#', class:"vote_tutorial"} shows you how.
  %li
    %a{ href:"#" }
      I have lost my access data!
    %div
      No problem. Enter your e-mail address on the #{link_to 'TeaCo Startseite', href:"/app/assets/javascripts", target:"_blank"}
      and click on "Create account" – you will receive an e-mail with your access link
      on that address; however, your existing account stays the same - no new one will be created.
  %li
    %a{ href:"#" }
      I did register on the homepage, but I didn't receive my access link!
    %div
      Please make sure the message was not accidently classified as spam by
      your mail program or provider. In addition, mail delivery could take
      some moments - so the message might reach you one or two minutes
      after your registration.
  %li
    %a{ href:"#" }
      What is a "meeting"?
    %div
      A meeting in TeaCo describes the planning process of a single event.
      A meeting has an initiator and several participants, who suggest
      dates for the event and vote on these dates.
  %li
    %a{ href: "#" }
      What is a "restricted meeting"?
    %div
      The initiator can state at a meeting's creation if all of the
      other participants may only be granted restricted permissions within
      the meeting. In a restricted meeting each participant my only edit
      or delete his or her own suggestions. In addition, only the initiator
      may uninvite participants, pick suggestions as final or change the
      meeting title.
  %li
    %a{ href:"#" }
      I'd like to plan my own meeting with some people. What do I have to do?
    %div
      Click on "New Meeting" in the header bar at the top of the page, provide
      a meeting title and click "OK". When you initiate a meeting for the first
      time, a #{link_to 'Tutorialvideo', '#', class: "new_meeting_tutorial" } will guide
      you through the process.
  %li
    %a{ href:"#" }
      Everyone voted. What now?
    %div
      If you want to finish the planning process, choose one or more final dates and
      mark them as final by clicking the #{image_tag "pick.png", width:"16", height:"16", alt:"pick" }
      button. Then click on "Send appointment dates" in the detail panel on the right
      in order to e-mail the selected dates to all participants. You can specify a
      message alongside with the dates.
  %li
    %a{ href:"#" }
      I cannot uninvite myself! How do I leave a meeting?
    %div
      Click on the teaco logo in the header bar at the top of the page to get
      to your administration area. You will find a list of all your meetings
      there. Next to the the meeting is a link to leave it. Caution: If you
      are the iniatator of the meeting, you will delete the whole meeting
      that way, so none of the participants will have access to it anymore!
  %li
    %a{ href: "#" }
      What does "clone" mean?
    %div
      If you clone a meeting a new one will be created, where there are no
      suggestions but all participants of the original meeting already invited.
      This comes in handy if you plan meetings with the same people quite often.
  %li
    %a{ href:"#" }
      II have other e-mail addresses. Do I have to create an account for each of them?
    %div
      No, you can use all these addresses within one account. To do that, click
      on "MyTeaCo" in the header bar at the top of the page to get to your
      administration area. You can enter a new address in the section
      "E-mail addresses". Click on "Activate address" to receive an e-mail with
      an activation link in it. Use that link to activate your address. You now
      have all your meetings, no matter which address was invited, in your
      TeaCo account.
  %li
    %a{ href:"#" }
      I want to change the e-mail address which I receive my TeaCo messages on.
    %div
      First, activate the new e-mail address in your account.
      (see „I have other e-mail addresses. Do I have to create an account for each of them?“).
      Now click the blue star
      #{ image_tag "make_master_address.png", width:"16", height:"16", alt:"make_master_address" }
      next to the activated address to make it your main address (you can tell it by the yellow star
      #{ image_tag "master_address.png", width:"16", height:"16", alt:"make_master_address"}).
      All your messages will be sent to that address from now on.
  %li
    %a{ href: "#" }
      Creating suggestions is so slow and costly!
    %div
      It doesn't have to be that way. TeaCo makes the work easier:
      %ul{ style:"margin:10px" }
        %li
          %strong
            Doubleclick
          a day in the calendar in the detail panel on the right
          to quickly add a suggestion.
        %li
          %strong
            Move
          suggestions to the right place by clicking on them,
          holding the mouse button and move them.
        %li
          %strong
            Adjust the duration
          of a suggestion by dragging at its top or
          bottom edge.
      That way making the dates for a meeting is quite easy: Create some suggestions
      by doubleclicking on the relevant day and move them in place afterwards.
  %li
    %a{ href:"#" }
      What is a free/busy list?
    %div
      A free/busy list is a file in iCalendar-format which can be generated by
      various calendar applications (e.g. Apple iCal or Microsoft Outlook).
      This file contains information about the times you are not available.
      If you put this file online and provide the URL in TeaCo, these times will
      be displayed as red blocks in your meetings. This tells other participants
      when you don't have time.
  %li
    %a{ href:"#" }
      Why don't I have to login to TeaCo?
    %div
      Each user in TeaCo has a unique, 40 characters long key - you can see it
      in the address bar. This key identifies you within TeaCo. So never give
      this key or your TeaCo access link to anyone! Others would have access to
      all your meetings and data.
  %li
    %a{ href:"#" }
      I like the music of the tutorial videos. Who is that?
    %div
      The artist's name is Sean Fournier, the song is called "Broken Stereo".
      The artist's website is
      <a href="http://www.sean-fournier.com/" target="_blank">here</a>,
      you can download his music
      <a href="http://www.jamendo.com/de/album/36026" target="_blank">here</a>
      (under Creative Commons licence).
  %li
    %a{ href:"#" }
      How does TeaCo handle different time zones?
    %div
      A time specification within TeaCo always equates to the current CET
      (i.e. UTC+1 in winter and UTC+2 in summer), no matter, in which time
      zone the time specification was made, and no matter, if occasionally
      the current time was switched from standard time to summer time or the
      other way round.


:javascript
  $('.help_list').click(function(e) {
    e.stopPropagation();
  });