%ol.help_list
  %li
    %a{ href:"#" }
      Was ist TeaCo?
    %div
      TeaCo, ist ein leichtgewichtiges Werkzeug, welches kleinen und großen Gruppen von Personen das Finden von Terminen aller Art, vom Meeting bis zum Kinoabend, erleichtern soll. Aufbauend auf dem am IMIS entwickelten ImiCaToo stellt TeaCo System dar, dass sich insbesondere durch eine verbesserte Gebrauchstauglichkeit in der Anwendung bei gleichzeitiger Leichtgewichtigkeit auszeichnet.
      Mit TeaCo ist es ohne Umwege über Nutzernamen und Passwörter möglich:
      %ul{ style:"list-style-type:circle; margin:17px;" }
        %li
          Meetings zu erzeugen und andere Teilnehmer einzuladen
        %li
          Terminvorschläge zu erzeugen und über diese abstimmen zu lassen
        %li
          Kommentare zum Terminfindungsprozess zu hinterlassen
  %li
    %a{ href:"#" }
      Ich bin eingeladen worden. Was muss ich tun?
    %div
      Sie sollten abstimmen, ob sie an den vorgeschlagenen Terminen Zeit haben.
      Das #{link_to 'Tutorialvideo' ,'#', class:"vote_tutorial"} zeigt Ihnen wie.
  %li
    %a{ href:"#" }
      Ich habe meine Zugangsdaten verloren!
    %div
      Kein Problem. Geben Sie einfach auf der #{link_to 'TeaCo Startseite', href:"/app/assets/javascripts", target:"_blank"}
      Ihre E-Mail-Adresse an und klicken Sie auf "Account anlegen" –
      Sie erhalten eine E-Mail mit Ihren Zugangsdaten an Ihre Adresse versandt;
      Ihre Daten in TeaCo bleiben dabei erhalten -
      es wird kein neuer Account angelegt.
  %li
    %a{ href:"#" }
      Ich habe mich auf der Startseite registriert, aber keine Zugangsdaten per E-Mail bekommen!
    %div
      &Uuml;berpr&uuml;fen Sie bitte, ob die Nachricht in Ihrem Spam-Ordner gelandet ist.
      Zudem kann der E-Mail-Versand manchmal ein paar Augenblicke in Anspruch nehmen,
      so dass die Nachricht erst ein bis zwei Minuten nach Ihrer
      Registrierung bei Ihnen eintrifft.
  %li
    %a{ href:"#" }
      Was ist ein "Meeting"?
    %div
      Ein „Meeting“ bezeichnet in TeaCo die Planung einer einzelnen Veranstaltung.
      Ein Meeting hat einen Initiator und einige Teilnehmer,
      die Terminvorschl&auml;ge machen und &uuml;ber diese abstimmen k&ouml;nnen.
  %li
    %a{ href: "#" }
      Was ist ein „eingeschr&auml;nktes Meeting“?
    %div
      Der Initiator eines Meetings kann bei der Erzeugung angeben, ob alle
      &uuml;brigen Teilnehmer nur &uuml;ber eingeschr&auml;nkte Rechte innerhalb
      des Meetings verf&uuml;gen sollen. In einem eingeschr&auml;nkten Meeting kann
      jeder Teilnehmer nur seine eigenen Terminvorschl&auml;ge bearbeiten und
      l&ouml;schen. Zudem ist es dem Initiator vorbehalten, Teilnehmer auszuladen,
      Termine als endg&uuml;ltig zu markieren oder den Meeting-Titel zu &auml;ndern.
  %li
    %a{ href:"#" }
      Ich m&ouml;chte mit anderen Leuten einen Termin planen. Was muss ich tun?
    %div
      Klicken Sie oben in der Kopfzeile auf "Neues Meeting", vergeben Sie
      einen Namen und klicken Sie auf "OK". Wenn Sie das erste Mal ein Meeting
      einrichten, wird Ihnen ein #{link_to 'Tutorialvideo', '#', class: "new_meeting_tutorial" }
      die weiteren Schritte erkl&auml;ren.
  %li
    %a{ href:"#" }
      Alle haben abgestimmt. Was nun?
    %div
      Wenn Sie die Terminplanung abschlie&szlig;en wollen, suchen Sie sich einen
      oder mehrere Termine aus und markieren Sie diese als endg&uuml;ltig,
      indem Sie seinen #{image_tag "pick.png", width:"16", height:"16", alt:"pick" }
      Button klicken. Klicken Sie schlie&szlig;lich auf den
      Button „Termindaten versenden“ rechts in der Detailleiste, um die
      ausgew&auml;hlten Termine per E-Mail an alle Teilnehmer zu versenden.
      Sie k&ouml;nnen dabei einen Mitteilungstext angeben, der in der
      Benachrichtigung stehen soll.
  %li
    %a{ href:"#" }
      Ich kann mich nicht selbst ausladen! Wie kann ich ein Meeting verlassen?
    %div
      Klicken Sie oben in der Kopfzeile auf das Logo von TeaCo, um zu Ihrem Verwaltungsbereich
      zu gelangen. Dort finden Sie eine &uuml;bersicht aller Ihrer Meetings.
      Neben dem Meeting finden Sie einen Link, um es zu verlassen.
      Achtung: Wenn Sie der Initiator des Meetings sind, l&ouml;schen Sie mit
      diesem Link das gesamte Meeting, so dass auch alle anderen
      Teilnehmer keinen Zugriff mehr darauf haben!
  %li
    %a{ href: "#" }
      Was bedeutet "klonen"?
    %div
      Wenn Sie ein Meeting klonen, wird ein neues Meeting erzeugt, das keine
      Terminvorschl&auml;ge enth&auml;lt, zu welchem aber bereits alle Teilnehmer des
      urspr&uuml;nglichen Meetings eingeladen sind. Dies ist n&uuml;tzlich, wenn Sie oft
      Meetings mit den gleichen Personen planen.
  %li
    %a{ href:"#" }
      Ich habe noch weitere E-Mail-Adressen. Muss ich f&uuml;r jede ein eigenes TeaCo-Konto anlegen?
    %div
      Nein, Sie k&ouml;nnen alle Adressen in einem Konto verwenden. Klicken Sie
      dazu oben in der Kopfzeile auf "MyTeaCo", um zu Ihrem Verwaltungsbereich
      zu gelangen. In der unteren H&auml;lfte unter "E-Mail-Adressen" k&ouml;nnen Sie eine
      neue Adresse angeben. Klicken Sie auf „Adresse aktivieren“, so wird eine
      Aktivierungs-Mail an diese Adresse geschickt. Benutzen Sie den Link in
      dieser E-Mail, um die Adresse freizuschalten. Sie haben nun alle Meetings,
      egal mit welcher Adresse Sie eingeladen wurden, in einem TeaCo-Konto zur Verf&uuml;gung.
  %li
    %a{ href:"#" }
      Ich m&ouml;chte die E-Mail-Adresse &auml;ndern, an welche die TeaCo-Benachrichtigungen geschickt werden.
    %div
      Aktivieren Sie hierzu zun&auml;chst die neue E-Mail-Adresse in Ihrem TeaCo-Konto
      (siehe "Ich habe noch weitere E-Mail-Adressen. Muss ich f&uuml;r jede ein eigenes TeaCo-Konto anlegen?").
      Klicken Sie nun auf den blauen Stern
      #{ image_tag "make_master_address.png", width:"16", height:"16", alt:"make_master_address" }
      neben der freigeschalteten Adresse, um diese
      zu Ihrer Haupt-Adresse zu machen (erkennbar an dem gelben Stern
      #{ image_tag "master_address.png", width:"16", height:"16", alt:"make_master_address"}).
      Alle Nachrichten gehen ab sofort an diese Adresse.
  %li
    %a{ href: "#" }
      Das Erzeugen der Termine ist mir zu langsam und aufw&auml;ndig!
    %div
      Das muss es nicht sein. TeaCo erleichtert Ihnen die Arbeit:
      %ul{ style:"margin:10px" }
        %li
          %strong
            Klicken Sie doppelt
          auf einen Tag im Kalender in der rechten Detailleiste,
          um schnell einen Terminvorschlag hinzuzuf&uuml;gen.
        %li
          %strong
            Verschieben
          Sie erzeugte Terminvorschl&auml;ge an die richtige Stelle, indem Sie
          auf sie klicken, die Maustaste gedr&uuml;ckt halten und dann ziehen.
        %li
          %strong
            Ver&auml;ndern Sie die Dauer
          eines Terminvorschlags, indem Sie am unteren oder
          oberen Ende eines Terminvorschlags ziehen.
      Auf diese Weise wird es sehr einfach, die Termine f&uuml;r ein Meeting einzurichten: Erzeugen Sie
      zun&auml;chst eine Reihe von Vorschl&auml;gen, indem Sie auf den entsprechenden Tag doppelklicken,
      und schieben Sie sie erst danach an die richtige Position.
  %li
    %a{ href:"#" }
      Was ist eine Free/Busy-List?
    %div
      Eine Free/Busy-List ist eine Datei im iCalendar-Format, welche verschiedene
      Kalenderprogramme (z.B. Apple iCal oder Microsoft Outlook) erzeugen
      k&ouml;nnen. Diese Datei enth&auml;lt dann Informationen dar&uuml;ber, wann Sie zeitlich
      nicht verf&uuml;gbar sind. Wenn Sie diese Datei online stellen und die URL dazu
      in TeaCo angeben, werden diese Zeiten in den Meetings als rote Bl&ouml;cke
      dargestellt. Dies signalisiert anderen Teilnehmern, wann Sie keine Zeit haben.
  %li
    %a{ href:"#" }
      Warum muss ich mich bei TeaCo nicht einloggen?
    %div
      Jeder Benutzer in TeaCo hat einen eindeutigen, 40 Zeichen langen Schl&uuml;ssel –
      Sie sehen diesen in der Adresszeile. Dieser Schl&uuml;ssel identifiziert
      Sie innerhalb von TeaCo. Geben Sie diesen Schl&uuml;ssel oder Ihren
      TeaCo-Zugangslink daher niemals weiter! Andere h&auml;tten sonst Zugriff
      auf alle Ihre Meetings und Daten.
  %li
    %a{ href:"#" }
      Wie geht TeaCo mit verschiedenen Zeitzonen um?
    %div
      Eine in TeaCo eingetragene Zeitangabe
      entspricht stets der zu diesem Zeitpunkt gültigen CET (d.h. im
      Winter UTC+1, im Sommer UTC+2). Dies gilt unabhängig aus welcher
      Zeitzone der Termin eingetragen wurde und auch unabhängig ob davon
      zwischendurch von Standard- auf Sommerzeit oder zurück umgestellt
      wurde.

:javascript
  $('.help_list').click(function(e) {
    e.stopPropagation();
  });