%h3= raw t('layouts.users.welcome')

%p= raw t('.welcome_user', :user => @user.email)
%br/
%p
  = raw t('.myteaco_link')
  %br/
  - admin_url = show_administration_url(:user_key => @user.key)
  = link_to admin_url, admin_url
%br/
%p
  If you have the TeaCo app installed on your smartphone, please use the following link:
  %br/
  - teaco_app_url = "http://192.168.2.177:3000/api/register_in_app/" + @user.key
  = link_to "Register in your app", teaco_app_url
  %br/
  %br/

%h3= raw t('teaco_mailer.keep_link')