%h3= raw t('layouts.users.welcome')

%p= raw t('.welcome_user', :user => @user.name.length > 0 ? @user.name : @user.email)
%p
  = raw t('.myteaco_link')
  %br/
  %br/
  - admin_url = show_administration_url(:user_key => @user.key)
  = link_to "Hier geht es zu Ihrem MyTeaCo Dashboard", admin_url
%br/
%p
  Wenn Sie die TeaCo-App für Ihr Smartphone installiert haben,
  nutzen Sie bitte den nachfolgenden Link, um Ihren TeaCo-Account in Ihrer App direkt zu registrieren:
  %br/
  - teaco_app_url = api_register_in_app_url(:key => @user.key)
  - teaco_app_url.sub!('?key=', '/')
  = link_to "Registrieren Sie Ihren Account in Ihrer App", teaco_app_url
  %br/
  %br/

%h3= raw t('teaco_mailer.keep_link')