%h3= raw t('.invited')

%p= raw t('.user_invited_you', :user => user_name_or_email(@inviting_user) )

%span{:style => "font-style: italic; font-weight: bold;" }
  = @meeting.title

- unless @invitation_text.blank?
  %div{ :style => "background: #eeeeee; border: 2px solid #cccccc; padding: 10px; margin: 10px;" }
    = '"' + h(@invitation_text) + '"'

= raw t('teaco_mailer.jump_to_meeting')

- meeting_link = show_meeting_url(:user_key => @user.key, :id => @meeting.id)
= link_to meeting_link, meeting_link
%br/
%br/
%br/
%p
  Sollten Sie die TeaCo-App für Ihr Smartphone installiert haben,
  nutzen Sie bitte folgenden Link, um das Meeting direkt in der App aufzurufen:
%br/
- app_meeting_link = AppLinkGenerator.generate_meeting_link(@user.key, @meeting.id)
= link_to "Meeting in der App aufrufen", app_meeting_link
%br/
%h3= raw t('teaco_mailer.keep_link')