%h3= raw t('.invited')

%p= raw t('.user_invited_you', :user => user_name_or_email(@inviting_user) )

%span{:style => "font-style: italic; font-weight: bold;" }
  = @meeting.title

- unless @invitation_text.blank?
  %div{ :style => "background: #eeeeee; border: 2px solid #cccccc; padding: 10px; margin: 10px;" }
    = '"' + h(@invitation_text) + '"'

= raw t('teaco_mailer.jump_to_meeting')

- meeting_link = show_meeting_url(:user_key => @user.key, :id => @meeting.id)
= link_to meeting_link, meeting_link
%br/

%h3= raw t('teaco_mailer.keep_link')