.container-fluid
  .row
    .col-xs-12
      = form_tag send_cancellation_user_meeting_path(@user, @meeting), :class => "ajax send_cancellation_form" do
        .row.margin-bottom-1
          .col-xs-12
            = label_tag 'message', t('.message'), class: "control-label"
            = text_area_tag 'message', "", class: 'gain_focus form-control'
        .row.margin-bottom-1{:style => "display:#{(@meeting.picked_suggestions.empty?) ? 'none' : ''};"}
          .col-xs-12
            .form-group
              = label_tag 'location', t('.location'), class: "control-label"
              = text_field_tag 'location', "", class: "form-control"
        .row.margin-bottom-1
          .col-xs-12
            = check_box_tag 'also_comment'
            = label_tag 'also_comment', t('.also_create_comment')
        .row.margin-bottom-1
          .col-xs-12
            .text-right.hidden-xs.hidden-sm= submit_tag t('.send_dates_submit_cancel'), id: 'send_cancellation_submit', class: "btn btn-primary panel_button",
              :disabled => (!@meeting.picked_suggestions.empty?)
            .hidden-md.hidden-lg= submit_tag t('.send_dates_submit_cancel'), id: 'send_cancellation_submit', class: "btn btn-primary btn-block",
              :disabled => (!@meeting.picked_suggestions.empty?)

  :javascript
    $('#send_cancellation_submit').on("click", function() {
      alert('hi');
      $('#send_cancellation_form_modal').modal('hide');
    });
