%div#comment_form
  = form_for [@user, @meeting, comment], {remote: true} do |f|
    .form-group
      = f.text_area :text, class: "form-control", rows: "3", id: "edit_form_field" #, :class => 'gain_focus expand100-9999'
      = f.hidden_field :author_id, value: @user.id
      = f.hidden_field :meeting_id, value: @meeting.id
    .form-group
      .row#input
        .col-xs-12.col-sm-7
          = check_box_tag 'also_mail', "1", comment.new_record?, :disabled => false, class: "checkbox", style: "display: inline-block"
          = label_tag :also_mail, t('.also_mail'), class: "checkbox", style: "display: inline-block; font-weight: normal;"
        .hidden-xs.hidden-sm.col-md-5.text-right
          = submit_tag t('comments.comments_area.edit_comment'), class: "btn btn-primary"
        .hidden-md.hidden-lg.col-xs-12
          = submit_tag t('comments.comments_area.edit_comment'), class: "btn btn-primary btn-block"