%h3= raw t('.planning_finished', :meeting => @meeting.title)

%p= raw t('.picked_dates', :user => user_name_or_email(@sending_user))

%ul
  - picked_suggestions = @meeting.picked_suggestions
  - picked_suggestions.each do |sugg|
    %li= "#{ l(sugg.date, :format => :short_with_weekday) }: #{sugg.start_as_readable} - #{sugg.end_as_readable}#{(', ' + @location) unless @location.blank?}"

- unless @message.blank?
  %p= raw t('.associated_message')
  %div{ :style => "background: #eeeeee; border: 2px solid #cccccc; padding: 10px; margin: 10px;" }
    = '"' + h(@message) + '"'

%p= raw t('teaco_mailer.jump_to_meeting')

- meeting_link = show_meeting_url(:user_key => @user.key, :id => @meeting.id)
= link_to meeting_link, meeting_link
%br/
%h3= raw t('teaco_mailer.keep_link')