<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Auth_Token</key>
= '<string>', form_authenticity_token, '</string>'
<key>EMail</key>
= '<string>', @user.email, '</string>'
<key>Name</key>
= '<string>', CGI.escapeHTML(@user.name), '</string>'
<key>FreeBusy_URL</key>
= '<string>', @user.freebusy_url, '</string>'
= render :file => "users/show.ipad_native"
</dict>
</plist>